# Ignore compiled class files
*.class

# Ignore directories for build tools
bin/
target/
build/

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle specific files
.gradle/

# IDE files (for IntelliJ IDEA)
*.iml
.idea/

# Eclipse specific files
.project
.classpath
.settings/
